<h1>Check out our existing Pizza Creations below</h1>

<div class="container my-5">
  <h2 class="mb-4">Pizza List:</h2>

  <div class="d-flex justify-content-between mb-3">
    <%= link_to 'New Pizza', new_pizza_path, class: 'btn btn-primary' %>
    <%= link_to 'Back to Home', root_path, class: 'btn btn-secondary' %>
  </div>

  <table class="table table-bordered table-striped">
    <thead class="table-dark">
      <tr>
        <th>Pizza Name</th>
        <th>Toppings</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @pizzas.each do |pizza| %>
        <tr>
          <td><%= pizza.name %></td>
          <td>
            <% if pizza.toppings.any? %>
              <%= pizza.toppings.map(&:name).join(', ') %>
            <% else %>
              <em>No Toppings</em>
            <% end %>
          </td>
          <td>
            <%= link_to 'View', pizza_path(pizza), class: 'btn btn-secondary btn-sm' %>
            <%= link_to 'Edit', edit_pizza_path(pizza), class: 'btn btn-warning btn-sm' %>
            <%= link_to 'Delete', pizza_path(pizza), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
          </td>
        </tr>
      <% end %>

      
