<h1>All Pizzas</h1>

<%= link_to 'New Pizza', new_pizza_path, class: 'btn btn-primary' %>

<table>
  <thead>
    <tr>
      <th>Pizza Name</th>
      <th>Toppings</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @pizzas.each do |pizza| %>
      <tr>
        <td><%= pizza.name %></td>
        <td>
          <% if pizza.toppings.any? %>
            <%= pizza.toppings.map(&:name).join(', ') %>
          <% else %>
            No Toppings
          <% end %>
        </td>
        <td>
          <%= link_to 'View', pizza_path(pizza), class: 'btn btn-secondary' %>
          <%= link_to 'Edit', edit_pizza_path(pizza), class: 'btn btn-warning' %>
          <%= link_to 'Delete', pizza_path(pizza), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back to Home', root_path %>
<%= link_to 'Back to Home', root_path, class: 'btn btn-primary' %>
